<header>
  
    <div class = "container">
        <nav>        
          <img [src] = "imagePath"/> <!--Property binding--> <a  routerLink="/restuarant" class = "logo">Meals On Wheels</a>
        
            <ul>
              <!--Routing to diff compnts-->
                <li>
                  <a routerLink="/welcomecustomer" >Home</a>
                </li>
                <li>
                  <a routerLink="/vieworder">Order</a>
                </li>
                <li>
                    <a routerLink="/cart">Cart</a>
                </li>
                <li>
                    <div  class="dropdown">
                        <button class="dropbtn"><strong>{{users.name}}</strong></button>
                        <div class="dropdown-content">
                          <a routerLink="/customerprofile" >View Profile</a>
                          <a routerLink="/login">Logout</a>

                        </div>
                      </div>
                </li>                
            </ul>
        </nav>
    </div>
</header>