<!-- 
<app-nav></app-nav>
<br>
<br>
<section id="cart" class="parallax-section">
    <h1>Your Cart </h1>
    <br>

    <div *ngIf="cartList==null" >
        
        <h4>Your Cart is empty!</h4>        
        <button type="button" class="btn btn-black" >'Add Items' | translate</button>
    </div>
	<div >

	    <table class="table table-striped table-dark">
                
            <tbody >
              <tr *ngFor="let cartItem of cartList|async">
               
                <td><p class="item-name" text-wrap>{{cartItem.food.foodName}}</p></td>
                <td>
                    <input type="number" min="1" max="100" (change)="changeQuantity(cartItem)" [(ngModel)]="cartItem.quantity">
                </td>
                <td>
                    <p class="item-detail">Price:
                    <span class="item-price">
                        <strong class="cut"><span>&#8377;</span> {{ cartItem.price | number:'.2-2'}}</strong>
                    </span>
                    </p>
                </td>
                
                <td>
                    <button  type="button" class="btn btn-black" (click)="deleteCartItem(cartItem.id)" >Delete</button>
                </td>
              </tr>
            </tbody>
            <tr></tr>
            <tr class="price-details">
                <td class="calculate" col-12>
                    <div class="cart-total">
                        <strong>Order Total</strong>
                        <span class="price"><span>&#8377;</span> {{total | number:'.2-2'}}</span>
                    </div>
                </td>
                <td >
                    <button  type="button" class="btn btn-black" (click)="vieworder()"> Checkout</button>

                </td>
            </tr>
        </table>
    </div>
</section>

<app-footer></app-footer>
 -->












 <app-nav></app-nav>
<div class="bg">
    <div class="setting">
 <div class="container">
<br>

<h1><strong>Food Cart</strong></h1>
<hr>
 <br>
 <br>
 <div *ngIf="cartList==null" >
        
    <h4>Your Cart is empty!</h4>        
    <button type="button" class="btn btn-black" >'Add Items' | translate</button>
</div>
<div class="shopping-cart" >
 
  <div class="column-labels">
    
    <label class="product-details">Product</label>
    <!-- <label class="product-price">Price</label> -->
    <label class="product-quantity">Quantity</label>
    <label class="product-removal">Remove</label>
    <label class="product-line-price">Price</label>
  </div>
 
  <div class="product" *ngFor="let cartItem of cartList|async">
    <!-- <div class="product-image">
      <img src="">
    </div> -->
    <div class="product-details">
      <div class="product-title">{{cartItem.food.foodName}}</div>
      <!-- <p class="product-description"> It has a lightweight, breathable mesh upper with forefoot cables for a locked-down fit.</p> -->
    </div>
    <!-- <div class="product-price"><span>&#8377;</span> {{ cartItem.price | number:'.2-2'}}</div> -->
    <div class="product-quantity">
      <input type="number" value="2" min="1"  (change)="changeQuantity(cartItem)" [(ngModel)]="cartItem.quantity">
    </div>
    <div class="product-removal">
      <button class="remove-product" (click)="deleteCartItem(cartItem.id)">
        Remove
      </button>
    </div>
    <div class="product-line-price"><span>&#8377;</span> {{ cartItem.price | number:'.2-2'}}</div>
  </div>
 
 
 
  <div class="totals">
    <div class="totals-item">
      <label>Total</label>
      <div class="totals-value" id="cart-subtotal"><span>&#8377;</span> {{total | number:'.2-2'}}</div>
    </div>
    
   
   
  </div>
       
      <button class="checkout" (click)="vieworder()">Checkout</button>
 
</div>
</div>
</div>
</div>