<app-nav></app-nav>
<div class="jumbotron text-center">
    
    

    <hr>
    
    <p class="lead">
      <a class="btn btn-primary btn-sm" routerLink="/restaurant" role="button">Continue to homepage</a>
      <table class="table table-bordered">
   
        <thead>
          <tr>
            <th>Order Id</th>
            <th>Order Date & Time </th>
            <th>Amount</th>
            
            <th>
                
                    <tr> 
                        
                        <th>Item Name</th>
                        <th>Item price(Per unit)</th>
                      
                    </tr>
            

            </th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orderList|async">
              <td>Order000123{{order.id}}</td>
              <td>{{order.orderDate}}</td>
              <td>{{order.totalPrice}}</td>
              <td>
                <tr *ngFor="let foodItems of order.food" class="btn-success">

              
                  <td>{{foodItems.foodName}}</td>
                  <td>{{foodItems.price}}</td>

                </tr>
              </td>
              
          </tr>
        </tbody>
      </table>


    </div>

<app-footer></app-footer>
